body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #7de5c2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
}

h1 {
    text-align: center;
}

.add-task {
    display: flex;
    margin-top: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6ed97;
    margin-top: 10px;
    padding: 8px;
    border-radius: 3px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
